body {
  max-width: 750px;
  margin: 40px auto;
  padding: 0 10px;
  font: 16px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #bdc1c6;
  background-color: #202124;
}

a { color: #8ab4f8; text-decoration: none }

h1, h2, h3 {
  line-height: 1.2;
  color: #e8eaed;
}

time { font-style: italic }

img { max-width: 100% }

div.sourceCode {
    padding: .4rem .7rem;
    font-size: 90%;
}
