{% extends "base.html" %}

{% block title %}Blog Posts{% endblock title %}

{% block content %}
<h1>Blog Posts</h1>
<p>
  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path></svg>
  <a href="{{ get_url(path="feed.xml", trailing_slash=false) }}">Subscribe to RSS feed</a>
</p>

<ul id="blog-archive">
  {# new blog posts from blog section #}
  {% set section = get_section(path="blog/_index.md") %}
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p>
      Published: <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%B %d, %Y") }}</time>
      {% if page.updated %}
      , Updated: <time class="date" datetime="{{ page.updated | date(format="%Y-%m-%d") }}">{{ page.updated | date(format="%B %d, %Y") }}</time>
      {% endif %}
    </p>
  </li>
  {% endfor %}

  {# old blog posts from root section #}
  {% set section = get_section(path="_index.md") %}
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p>
      Published: <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%B %d, %Y") }}</time>
      {% if page.updated %}
      , Updated: <time class="date" datetime="{{ page.updated | date(format="%Y-%m-%d") }}">{{ page.updated | date(format="%B %d, %Y") }}</time>
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
