{% extends "base.html" %}

{% block content %}
<h2>Consulting Services</h2>

<p>
Welcome to my consulting services! I'm Arthur Koziel, dedicated to enhancing businesses through optimized DevOps processes.
</p>

<h3>Skills and experience</h3>
<p>I specialize in:</p>
<ul>
    <li>
        <strong>CI/CD Pipelines:</strong> Creation and maintenance of robust pipelines for efficient code building, testing, and deployment.
    </li>

    <li>
        <strong>Cloud Infrastructure:</strong> Architecting, testing, deploying, and managing scalable cloud infrastructure with a focus on load and region-aware scalability.
    </li>

    <li>
        <strong>Monitoring and Automation:</strong> Implementation and maintenance of comprehensive alerting, monitoring, and logging systems for proactive issue identification. Utilization of GitOps principles and Cloud Native tools for automated software deployment.
    </li>

    <li>
        <strong>Kubernetes Management:</strong> Setting up and managing Kubernetes clusters, ensuring high availability and scalability.
    </li>

    <li>
        <strong>Production Issue Resolution:</strong> Fast troubleshooting and resolution of production issues to minimize downtime.
    </li>

    <li>
        <strong>Collaboration with Development Teams:</strong> Collaborative efforts with development teams to ensure proper instrumentation of code for monitoring and logging.
    </li>

    <li>
        <strong>Cybersecurity:</strong> Ensuring the safety and security of systems against cybersecurity threats.
    </li>
</ul>

<p>If you're interested in optimizing your business processes and leveraging cutting-edge DevOps practices, feel free to get in touch. I'm here to help.</p>

<p><strong>Email:</strong> <a href="mailto:consulting@arthurkoziel.com">consulting@arthurkoziel.com</a></p>

<h2>Recent Blog Posts</h2>
<ul id="blog-archive">
  {% set section = get_section(path="_index.md") %}
  {% for page in section.pages | slice(end=5) %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p>
      Published: <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%B %d, %Y") }}</time>
      {% if page.updated %}
      , Updated: <time class="date" datetime="{{ page.updated | date(format="%Y-%m-%d") }}">{{ page.updated | date(format="%B %d, %Y") }}</time>
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>

<p>If you have any questions for my blog posts, please email me at <a href="mailto:blog@arthurkoziel.com">blog@arthurkoziel.com</a></p>
{% endblock content %}
