{% extends "base.html" %}

{% block content %}
<h2>Welcome!</h2>

<p>
My name is Arthur. I work a lot with Kubernetes, CI/CD pipelines, Cloud Infrastructure, Monitoring/Logging/Alerting and Cybersecurity.
</p>
<p>This blog has technical articles about above topics and also CLI tools I like to use daily.</p>
<p>If you have any questions for my blog posts, please email me at <a href="mailto:blog@arthurkoziel.com">blog@arthurkoziel.com</a></p>

<h2>Recent Blog Posts</h2>
<ul id="blog-archive">
  {% set section = get_section(path="_index.md") %}
  {% for page in section.pages | slice(end=5) %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p>
      Published: <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%B %d, %Y") }}</time>
      {% if page.updated %}
      , Updated: <time class="date" datetime="{{ page.updated | date(format="%Y-%m-%d") }}">{{ page.updated | date(format="%B %d, %Y") }}</time>
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
